<h1 class="display-4">event#show à implémenter!</h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Plus d'infos sur <%=event.title %></h1>
  </div>
</div>

<div class="card-columns border-info container ">



</div>

